body {
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.title{
  font-size: 20px;   
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  font-size: 15px;   
  border-radius: 50%;
  position: absolute;
  right: 40px;

}

.addtocart{
  color: green;  
font-size: 15px;   
text-align: right;
background-color: rgb(53, 51, 51);
color:white;
border-radius: 7px;

}
.top-head {
  display: flex;
  justify-content: center;
  padding: 0.5rem 0;
  margin: 5rem 2rem;
}

/* style={{ backgroundColor: "light grey", width: "610px", marginTop: "70px", maxHeight: "750px", overflow: "scroll"  */

.cartSection{
  background-color: rgb(177, 177, 168);
  width: 610px;
  height: 700px;
  margin-top: 70px;
  max-width: 750px;
  overflow-y:scroll ;
  border-radius: 20px;
}

@media (max-width: 991px) {
  .kGKCrv {
    padding: 10px 0;
    width: 100% !important;
  }
}